$background : #f6f6f6;
$location-bg-color: #EAEAEA;
$shadow-color: rgba(0, 0, 0, 0.2509803922);
$inset-shadow-color: rgba(0, 0, 0, 0.1);

$primary-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$text-primary: #000000;
$text-secondary: #353535;
$text-white: #FFFFFF;
$number : #9356DC;

$bkcolorbtnnew : #99E2D0;
$colorbtnnew : #008766;